<h1>Oitavo mandamento</h1>

<h2>
  Não levantar falso testemunho nem de qualquer outro modo faltar à verdade ou
  difamar o próximo.
</h2>

<p *ngFor="let pecado of mandamentos.pecados">
  <mat-checkbox [(ngModel)]="pecado.selecionado">
    {{ pecado.texto }}
  </mat-checkbox>
</p>

<button mat-flat-button color="primary" (click)="openPDF()">Próximo</button>

<div class="col-md-8" id="htmlData">
  <ul>
    <li *ngFor="let item of service.pecadosSelecionados">
      {{ item }}
    </li>
  </ul>
</div>
