<h1>Quarto mandamento</h1>

<h2>Honrar pai e mãe e outros legítimos superiores</h2>

<p *ngFor="let pecado of mandamentos.pecados">
  <mat-checkbox color="primary" [(ngModel)]="pecado.selecionado">
    {{ pecado.texto }}
  </mat-checkbox>
</p>

<button mat-flat-button [routerLink]="['/checklist/terceiro-mandamento']">
  Voltar
</button>

<button
  mat-flat-button
  color="primary"
  [routerLink]="['/checklist/quinto-mandamento']"
>
  Avançar
</button>

<button mat-button [matMenuTriggerFor]="menu">Limpar</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="service.clearMandament(mandamentos)">
    Limpar este mandamento
  </button>
  <button mat-menu-item (click)="service.clearAll()">Limpar tudo</button>
</mat-menu>
