<h1>Sétimo e décimo mandamentos</h1>

<h2>
  Não furtar nem injustamente reter ou danificar os bens do próximo e não
  cobiçar as coisas alheias.
</h2>

<p *ngFor="let pecado of mandamentos.pecados">
  <mat-checkbox [(ngModel)]="pecado.selecionado">
    {{ pecado.texto }}
  </mat-checkbox>
</p>

<button mat-flat-button [routerLink]="['/checklist/sexto-e-nono-mandamentos']">
  Voltar
</button>

<button
  mat-flat-button
  color="primary"
  [routerLink]="['/checklist/oitavo-mandamento']"
>
  Avançar
</button>
