<h1>Sexto e nono mandamentos</h1>

<h2>
  Guardar castidade nas palavras e obras e guardas castidade nos pensamentos e
  nos desejos
</h2>

<p *ngFor="let pecado of mandamentos.pecados">
  <mat-checkbox color="primary" [(ngModel)]="pecado.selecionado">
    {{ pecado.texto }}
  </mat-checkbox>
</p>

<button mat-flat-button [routerLink]="['/checklist/quinto-mandamento']">
  Voltar
</button>

<button
  mat-flat-button
  color="primary"
  [routerLink]="['/checklist/setimo-e-decimo-mandamentos']"
>
  Avançar
</button>

<button mat-button [matMenuTriggerFor]="menu">Limpar</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="service.clearMandament(mandamentos)">
    Limpar este mandamento
  </button>
  <button mat-menu-item (click)="service.clearAll()">Limpar tudo</button>
</mat-menu>
